.monitor-container {
  width: 85%;
}

.measure-circle {
  border: 8px solid green;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.danger {
  border: 8px solid red;
}

.circle-text {
  line-height: 200px;
  font-size: 50px;
}
 .delete-all {
  margin-top: 20px;
 }









