.detail {
  width: 80%;
  input {
    width: 85%;
  }
  h2 {
    width: 85%;
  }
}

.critter-image {
  width: 100%;
}

label {
  font-size: 16px;
}

.center {
  text-align: center;
}

.title-row {
  margin-bottom: 25px;
  h1 {
    margin: 0;
  }
  button {
    width: 100%;
  }
}

.submit-btn {
  width: 85%;
}

.err-message {
  color: red;
}

.panel-img {
  img {
     width: 100%;
  }

  border: 5px solid black;
  border-radius: 50%;
  height: 175px;
}

.active-critter {
  border: 7px solid green;
}

