.detail {
  width: 70%;
}

.critter-image {
  width: 100%;
}

label {
  font-size: 16px;
}

.center {
  text-align: center;
}

.title-row {
  margin-bottom: 25px;
  h1 {
    margin: 0;
  }
  button {
    margin-left:15px;
  }
}

.submit-btn {
  width: 100%;
}

